body {
  background-color: beige;
}

h2 {
  background-color: olive;
  width: fit-content;
}

div {
  display: inline-block;
  background-color: lightgray;
  border: 2px solid black;
  padding: 25px;
  margin: 5px solid;
  font-size: large;
}

section {
  display: inline-block;
  background-color: lightgray;
  border: 2px solid black;
  padding: 25px;
  margin: 5px solid;
  font-size: large;
}

img {
  position: relative;
  top: 50;
  border: 2px solid;
  width: 200px;
  height: 200px;
}